# Scripts Content

### Libraries importing

In [2]:
# Importing libraries

import pandas as pd
import numpy as np
import os

### Project folder path definition

In [3]:
# Creating a short path

path = r'/Users/cleberjulianoferrareze/Documents/CareerFoundry/Achievement 4/Task 4.6/2021-08 - 4.6 Instacart Grocery Basket'

In [4]:
path

'/Users/cleberjulianoferrareze/Documents/CareerFoundry/Achievement 4/Task 4.6/2021-08 - 4.6 Instacart Grocery Basket'

### Task - Directions 1 - 9

In [ ]:
# 1 - "order_products__prior" already imported in other notebook.

In [ ]:
# 2 - "orders_products_combined.pkl" already exported from other notebook.

In [5]:
# 3 - Importing "orders_products_combined" from pickle file

df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [ ]:
# 4 - Checking the shape and head of imported data

In [6]:
df_orders_products_combined.shape

(30356421, 12)

In [7]:
df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,2398795,1,prior,2,3,7,15.0,196,1,1,both
1,1,2398795,1,prior,2,3,7,15.0,10258,2,0,both
2,1,2398795,1,prior,2,3,7,15.0,12427,3,1,both
3,1,2398795,1,prior,2,3,7,15.0,13176,4,0,both
4,1,2398795,1,prior,2,3,7,15.0,26088,5,1,both

In [8]:
# Removing unnecessary column

df_orders_products_combined = df_orders_products_combined.drop(columns = ['Unnamed: 0',])

In [9]:
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2398795,1,prior,2,3,7,15.0,196,1,1,both
1,2398795,1,prior,2,3,7,15.0,10258,2,0,both
2,2398795,1,prior,2,3,7,15.0,12427,3,1,both
3,2398795,1,prior,2,3,7,15.0,13176,4,0,both
4,2398795,1,prior,2,3,7,15.0,26088,5,1,both

In [10]:
df_orders_products_combined['product_id'].dtypes

dtype('int64')

In [11]:
## Importing "products_wrangled.csv" dataset

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_wrangled.csv'))

In [ ]:
## Checking the shape and the head

In [12]:
df_prods.shape

(49693, 6)

In [13]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
# Removing unnecessary column

df_prods = df_prods.drop(columns = ['Unnamed: 0',])

In [15]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [16]:
df_prods['product_id'].dtypes

dtype('int64')

In [ ]:
# 5 - Combining "orders_products_combined" with "products_wrangled.csv" dataset

In [25]:
df_large_combined = df_prods.merge(df_orders_products_combined, on = ['product_id'], how = 'inner')

In [ ]:
# 6 - Confirm the results of the merge using flag

In [26]:
df_large_combined.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,7,26.0,7,0,both

In [27]:
df_large_combined.tail()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
30356123,49688,Fresh Foaming Cleanser,73,11,13.5,3106363,197371,prior,10,4,14,30.0,17,0,both
30356124,49688,Fresh Foaming Cleanser,73,11,13.5,1788356,200215,prior,2,0,9,5.0,27,0,both
30356125,49688,Fresh Foaming Cleanser,73,11,13.5,809510,200873,prior,5,3,8,15.0,12,0,both
30356126,49688,Fresh Foaming Cleanser,73,11,13.5,2359893,200873,prior,9,3,15,5.0,11,1,both
30356127,49688,Fresh Foaming Cleanser,73,11,13.5,2385091,205926,prior,11,1,15,6.0,35,0,both

In [28]:
df_large_combined['_merge'].value_counts()

both          30356128
left_only            0
right_only           0
Name: _merge, dtype: int64

In [29]:
df_large_combined.shape

(30356128, 15)

In [63]:
# 7 - Export "orders_products_merged"

df_large_combined.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))