# THE TASK

## ITEM 1

### IMPORTING LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import os

### DEFINING A SHORT PROJECT FOLDER

In [2]:
path = r'/Users/cleberjulianoferrareze/Documents/CareerFoundry/Achievement 4/Task 4.7/2021-10 - 4.7 Instacart Grocery Basket'

In [3]:
path

'/Users/cleberjulianoferrareze/Documents/CareerFoundry/Achievement 4/Task 4.7/2021-10 - 4.7 Instacart Grocery Basket'

### IMPORTING DATASET

In [4]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_DNV.pkl'))

In [5]:
df_ords_prods_merge.shape

(30356128, 19)

In [6]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Most Orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average Orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Slowest busy days,Most Orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,7,26.0,7,0,both,Mid-range product,Regularly busy,Busiest days,Average Orders

## ITEM 2, 3

### AGGREGATING DATA WITH AGG()

In [7]:
# Performing multiple aggregations

df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                16.559161   2  99
2                18.413176   2  99
3                18.289622   2  99
4                18.915890   2  99
5                16.495614   2  99
6                17.609390   2  99
7                18.303969   2  99
8                16.383069   2  99
9                17.022963   2  99
10               21.227447   2  99
11               17.311920   2  99
12               16.953554   2  99
13               17.727257   2  99
14               17.882409   2  99
15               17.290123   2  99
16               18.755432   2  99
17               16.808683   2  99
18               20.336389   2  99
19               18.258620   2  99
20               17.578959   2  99
21               23.644477   2  99

In [ ]:
# For the 21 departments, there is no significat difference between min and max values. 
# Also, there is no relevant differences in the mean value, only departments 10 and 21 presents a small one.

## ITEM 4

### AGGREGATING DATA WITH TRANSFORM()

In [8]:
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [9]:
df_ords_prods_merge.shape

(30356128, 20)

In [10]:
df_ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average Orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Slowest busy days,Most Orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,7,26.0,7,0,both,Mid-range product,Regularly busy,Busiest days,Average Orders,26
5,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,2,14,30.0,2,0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,9
6,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,3,10,30.0,1,0,both,Mid-range product,Regularly busy,Slowest busy days,Most Orders,12
7,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,1,20,19.0,1,0,both,Mid-range product,Regularly busy,Busiest days,Average Orders,20
8,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,1,12,15.0,2,1,both,Mid-range product,Regularly busy,Busiest days,Most Orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,prior,36,3,13,7.0,1,0,both,Mid-range product,Regularly busy,Slowest busy days,Most Orders,43
10,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,prior,38,4,13,7.0,3,1,both,Mid-range product,Least busy,Slowest busy days,Most Orders,43
11,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,prior,39,2,12,12.0,4,1,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,prior,6,3,10,2.0,8,0,both,Mid-range product,Regularly busy,Slowest busy days,Most Orders,13
13,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,prior,7,2,8,6.0,18,1,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,13
14,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,prior,9,5,8,10.0,12,1,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,13

### DERIVING COLUMNS WITH LOC()

In [11]:
# Creating a loyalty flag for existing customers

df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [12]:
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15095208
Loyal customer      10104845
New customer         5156075
Name: loyalty_flag, dtype: int64

In [13]:
df_ords_prods_merge.head(100)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,...,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,9.0,11,1,both,Mid-range product,Least busy,Slowest busy days,Most Orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,...,26.0,7,0,both,Mid-range product,Regularly busy,Busiest days,Average Orders,26,Regular customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,Chocolate Sandwich Cookies,61,19,5.8,3327927,11934,prior,19,4,...,14.0,13,1,both,Mid-range product,Least busy,Slowest busy days,Most Orders,20,Regular customer
96,1,Chocolate Sandwich Cookies,61,19,5.8,2960627,12060,prior,12,2,...,11.0,9,0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,17,Regular customer
97,1,Chocolate Sandwich Cookies,61,19,5.8,2076862,12060,prior,17,1,...,10.0,8,1,both,Mid-range product,Regularly busy,Busiest days,Most Orders,17,Regular customer
98,1,Chocolate Sandwich Cookies,61,19,5.8,2616185,12455,prior,2,6,...,30.0,3,0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,8,New customer
99,1,Chocolate Sandwich Cookies,61,19,5.8,446769,12470,prior,64,1,...,7.0,1,0,both,Mid-range product,Regularly busy,Busiest days,Most Orders,71,Loyal customer

In [18]:
df_ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             3
4       777  Regular customer            16
5       825      New customer             3
6       910  Regular customer            12
7      1052  Regular customer            10
8      1052  Regular customer            15
9      1480    Loyal customer            36
10     1480    Loyal customer            38
11     1480    Loyal customer            39
12     1494  Regular customer             6
13     1494  Regular customer             7
14     1494  Regular customer             9
15     1540  Regular customer             4
16     1540  Regular customer             5
17     1540  Regular customer             6
18     1540  Regular customer             7
19     1540  Regular customer             8
20     1540  Regular customer             9
21     1540  Regular customer            14
22     1540  Regular customer            15
23     1540  Regular customer            18
24     1540  Regular customer            19
25     1540  Regular customer            20
26     1540  Regular customer            21
27     1540  Regular customer            22
28     1540  Regular customer            24
29     1540  Regular customer            25
30     1540  Regular customer            27
31     1540  Regular customer            28
32     1598      New customer             2
33     1598      New customer             3
34     1647      New customer             4
35     1647      New customer             6
36     1647      New customer             8
37     1647      New customer             9
38     2850  Regular customer             7
39     2857  Regular customer            24
40     3010  Regular customer             5
41     3395      New customer             4
42     4006    Loyal customer             2
43     4006    Loyal customer             3
44     4006    Loyal customer             5
45     4006    Loyal customer             9
46     4006    Loyal customer            12
47     4122  Regular customer            11
48     4141      New customer             2
49     4553      New customer             3
50     4845  Regular customer             6
51     7275      New customer             5
52     7669  Regular customer             3
53     7669  Regular customer             4
54     7669  Regular customer            20
55     7981  Regular customer             9
56     7981  Regular customer            13
57     7981  Regular customer            14
58     7981  Regular customer            24
59     7981  Regular customer            30

## ITEM 5

In [14]:
# Checking spending habits of the three types of loyalty customers 

df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.404557  1.0  99999.0
New customer      13.395978  1.0  99999.0
Regular customer  12.547284  1.0  99999.0

In [ ]:
# The highest mean prices are spent by the new customers, and the lowest ones are spent by loyal cusomters.

## ITEM 6

In [15]:
# Identifying types of spenders

# If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
# If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

df_ords_prods_merge['spenders'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)
df_ords_prods_merge.loc[df_ords_prods_merge['spenders'] < 10, 'spenders_flag'] = 'Low spender'
df_ords_prods_merge.loc[df_ords_prods_merge['spenders'] >= 10, 'spenders_flag'] = 'High spender'

In [16]:
df_ords_prods_merge[['user_id', 'spenders', 'prices', 'spenders_flag']].head()

   user_id  spenders  prices spenders_flag
0      138  6.769286     5.8   Low spender
1      138  6.769286     5.8   Low spender
2      709  8.071613     5.8   Low spender
3      764  4.864103     5.8   Low spender
4      777  6.906422     5.8   Low spender

## ITEM 7

In [18]:
# Identifying frequent versus non-frequent customers

# If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
# If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
# If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

df_ords_prods_merge['customer_frequency'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)
df_ords_prods_merge.loc[df_ords_prods_merge['customer_frequency'] > 20, 'frequency_flag'] = 'Non-frequent customer'
df_ords_prods_merge.loc[(df_ords_prods_merge['customer_frequency'] >10) & (df_ords_prods_merge['customer_frequency'] <= 20), 'frequency_flag'] = 'Regular customer'
df_ords_prods_merge.loc[df_ords_prods_merge['customer_frequency'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [19]:
df_ords_prods_merge[['user_id', 'customer_frequency', 'days_since_prior_order', 'frequency_flag']].head(15)

    user_id  customer_frequency  days_since_prior_order     frequency_flag
0       138                 8.0                     3.0  Frequent customer
1       138                 8.0                    20.0  Frequent customer
2       709                 8.0                     6.0  Frequent customer
3       764                 9.0                     9.0  Frequent customer
4       777                11.0                    26.0   Regular customer
5       825                20.0                    30.0   Regular customer
6       910                 6.0                    30.0  Frequent customer
7      1052                10.0                    19.0  Frequent customer
8      1052                10.0                    15.0  Frequent customer
9      1480                 7.0                     7.0  Frequent customer
10     1480                 7.0                     7.0  Frequent customer
11     1480                 7.0                    12.0  Frequent customer
12     1494                 7.0                     2.0  Frequent customer
13     1494                 7.0                     6.0  Frequent customer
14     1494                 7.0                    10.0  Frequent customer

In [20]:
df_ords_prods_merge.shape

(30356128, 25)

In [21]:
df_ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,...,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,spenders,spenders_flag,customer_frequency,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer,6.769286,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer,6.769286,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer,8.071613,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,Mid-range product,Least busy,Slowest busy days,Most Orders,3,New customer,4.864103,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,...,Mid-range product,Regularly busy,Busiest days,Average Orders,26,Regular customer,6.906422,Low spender,11.0,Regular customer
5,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,prior,3,2,...,Mid-range product,Regularly busy,Regularly busy,Most Orders,9,New customer,6.086667,Low spender,20.0,Regular customer
6,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,prior,12,3,...,Mid-range product,Regularly busy,Slowest busy days,Most Orders,12,Regular customer,6.800000,Low spender,6.0,Frequent customer
7,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,prior,10,1,...,Mid-range product,Regularly busy,Busiest days,Average Orders,20,Regular customer,7.019149,Low spender,10.0,Frequent customer
8,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,prior,15,1,...,Mid-range product,Regularly busy,Busiest days,Most Orders,20,Regular customer,7.019149,Low spender,10.0,Frequent customer
9,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,prior,36,3,...,Mid-range product,Regularly busy,Slowest busy days,Most Orders,43,Loyal customer,5.163351,Low spender,7.0,Frequent customer
10,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,prior,38,4,...,Mid-range product,Least busy,Slowest busy days,Most Orders,43,Loyal customer,5.163351,Low spender,7.0,Frequent customer
11,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,prior,39,2,...,Mid-range product,Regularly busy,Regularly busy,Most Orders,43,Loyal customer,5.163351,Low spender,7.0,Frequent customer
12,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,prior,6,3,...,Mid-range product,Regularly busy,Slowest busy days,Most Orders,13,Regular customer,6.622388,Low spender,7.0,Frequent customer
13,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,prior,7,2,...,Mid-range product,Regularly busy,Regularly busy,Most Orders,13,Regular customer,6.622388,Low spender,7.0,Frequent customer
14,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,prior,9,5,...,Mid-range product,Regularly busy,Regularly busy,Most Orders,13,Regular customer,6.622388,Low spender,7.0,Frequent customer

## ITEM 8, 9, 10

In [33]:
# Path to export dataset with new fields.

path = r'/Users/cleberjulianoferrareze/Documents/CareerFoundry/Achievement 4/Task 4.8/2021-10 - 4.8 Instacart Grocery Basket'

In [34]:
path

'/Users/cleberjulianoferrareze/Documents/CareerFoundry/Achievement 4/Task 4.8/2021-10 - 4.8 Instacart Grocery Basket'

In [35]:
# Export dataset with new columns 

df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_4.8.pkl'))