# SCRIPT OUTLINE - part 1

### 1. Download the customer dataset

#### Download the customer data set and add it to your “Original Data” folder.

In [ ]:
# Customer data downloaded to the "Original Data" folder

### 2. Create a notebook

#### Create a new notebook in your “Scripts” folder for part 1 of this task.

In [ ]:
# Print of the folder attached.

### 3. Import libraries and the new customer dataset

#### Import your analysis libraries, as well as your new customer data set as a dataframe.

In [1]:
# Importing analysis libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [ ]:
# Defining a short project folder for importing new customers datasets

In [4]:
path = r'/Users/cleberjulianoferrareze/Documents/CareerFoundry/Achievement 4/Task 4.9/2021-10 - 4.9 Instacart Grocery Basket'

In [5]:
path

'/Users/cleberjulianoferrareze/Documents/CareerFoundry/Achievement 4/Task 4.9/2021-10 - 4.9 Instacart Grocery Basket'

In [ ]:
# Importing the new customer dataset

In [45]:
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'))

In [ ]:
# Checking the data

In [46]:
df_customers.shape

(206209, 10)

In [47]:
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

### 4. Wrangle the data

#### Wrangle the data so that it follows consistent logic; for example, rename columns with illogical names and drop columns that don’t add anything to your analysis.

In [48]:
df_customers.rename(columns = {'First Name' : 'first_name', 'Surnam' : 'surname','Gender' : 'gender', 'STATE' : 'state', 'Age' : 'age', 'fam_status' : 'family_status'}, inplace = True)

In [49]:
df_customers.head()

,user_id,first_name,surname,gender,state,age,date_joined,n_dependants,family_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [ ]:
# Renamed columns standardizing capital letters, first letter as small letter. Have not dropped any column.

### 5. Complete the fundamental data quality

#### Complete the fundamental data quality and consistency checks you’ve learned throughout this Achievement; for example, check for and address missing values and duplicates, and convert any mixed-type data.

In [65]:
df_customers.describe()

             user_id            age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [57]:
# Finding missing observations

df_customers.isnull().sum()

user_id              0
first_name       11259
surname              0
gender               0
state                0
age                  0
date_joined          0
n_dependants         0
family_status        0
income               0
dtype: int64

In [ ]:
# It has been identified 112259 missing values for the "first_name" column. 
# The records will not be deleted because I might use the "surname" and they will not impact the analysis.

In [59]:
# Checking for mixed types in the "customers" dataset

for col in df_customers.columns.tolist():
  weird = (df_customers[[col]].applymap(type) != df_customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_customers[weird]) > 0:
    print (col)

first_name

In [60]:
# Counting the "first_name" records

df_customers['first_name'].describe()

count      194950
unique        207
top       Marilyn
freq         2213
Name: first_name, dtype: object

In [72]:
# Counting the "surname" records

df_customers['surname'].describe()

count       206209
unique        1000
top       Hamilton
freq           252
Name: surname, dtype: object

In [66]:
df_customers['first_name'].dtype

dtype('O')

In [68]:
df_customers.dtypes

user_id           int64
first_name       object
surname          object
gender           object
state            object
age               int64
date_joined      object
n_dependants      int64
family_status    object
income            int64
dtype: object

In [74]:
# It is missing 112259 "first_name" records. On the other hand, there all all the records for "surname".
# Records missing the "first_name" + records with all data represent correctly all the records in the dataset (206209).

11259 + 194950

206209

### 6. Combine the customer data with the Instacart data

#### Combine your customer data with the rest of your prepared Instacart data. Tip: Make sure the key columns are of the same data type!

In [ ]:
# Defining a short project folder for importing Instacart datasets

In [11]:
path2 = r'/Users/cleberjulianoferrareze/Documents/CareerFoundry/Achievement 4/Task 4.8/2021-10 - 4.8 Instacart Grocery Basket'

In [12]:
path2

'/Users/cleberjulianoferrareze/Documents/CareerFoundry/Achievement 4/Task 4.8/2021-10 - 4.8 Instacart Grocery Basket'

In [38]:
# Importing Instacard dataset

df_ords_prods_merge = pd.read_pickle(os.path.join(path2, '02 Data', 'Prepared Data', 'orders_products_merged_4.8.pkl'))

In [39]:
df_ords_prods_merge.shape

(30356128, 26)

In [40]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_dow,...,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,spenders,spenders_flag,customer_frequency,cust_frequency,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,Regularly busy,Regularly busy,Most Orders,32,Regular customer,6.769286,Low spender,8.0,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,Regularly busy,Regularly busy,Most Orders,32,Regular customer,6.769286,Low spender,8.0,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,Busiest day,Busiest days,Average Orders,5,New customer,8.071613,Low spender,8.0,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,Least busy,Slowest busy days,Most Orders,3,New customer,4.864103,Low spender,9.0,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,prior,16,1,...,Regularly busy,Busiest days,Average Orders,26,Regular customer,6.906422,Low spender,11.0,11.0,Regular customer

In [41]:
# Removing duplicate data

df_ords_prods_merge.drop(columns = ['eval_set', 'busiest day', 'cust_frequency'], inplace = True)

In [42]:
# Renaming the "busiest days" column

df_ords_prods_merge.rename(columns = {'busiest days' : 'busiest_days'}, inplace = True)

In [43]:
df_ords_prods_merge.shape

(30356128, 23)

In [44]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,...,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,spenders,spenders_flag,customer_frequency,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,both,Mid-range product,Regularly busy,Most Orders,32,Regular customer,6.769286,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,both,Mid-range product,Regularly busy,Most Orders,32,Regular customer,6.769286,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,both,Mid-range product,Busiest days,Average Orders,5,New customer,8.071613,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,both,Mid-range product,Slowest busy days,Most Orders,3,New customer,4.864103,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,...,both,Mid-range product,Busiest days,Average Orders,26,Regular customer,6.906422,Low spender,11.0,Regular customer

In [79]:
df_ords_prods_merge.dtypes

product_id                   int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
order_id                     int64
user_id                      int64
order_number                 int64
order_dow                    int64
order_hour_of_day            int64
days_since_prior_order     float64
add_to_cart_order            int64
reordered                    int64
_merge                    category
price_range_loc             object
busiest_days                object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
spenders                   float64
spenders_flag               object
customer_frequency         float64
frequency_flag              object
dtype: object

In [ ]:
# "user_id" columns in both datasets are of the same type ""int64.

In [80]:
# Combining the customer data with the Instacart data

df_ords_prods_cust_merged = df_ords_prods_merge.merge(df_customers, on = 'user_id')

In [81]:
df_ords_prods_cust_merged.shape

(30356128, 32)

In [83]:
df_ords_prods_cust_merged.head(100)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,...,frequency_flag,first_name,surname,gender,state,age,date_joined,n_dependants,family_status,income
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
2,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
3,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
4,3265,Mini Seedless Watermelon Pack,32,4,1.7,960220,138,17,5,14,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,31805,Gourmet Tomato Medley,32,4,5.2,2526903,138,14,0,15,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
96,31860,Foil Sheets,85,17,11.7,1593782,138,15,6,11,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
97,32478,Reduced Fat 2% Milk,84,16,13.9,2206168,138,27,3,18,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
98,32689,Romaine Hearts,123,4,2.9,960220,138,17,5,14,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620
99,33147,Organic Crimini Mushrooms,83,4,9.8,1986630,138,7,0,12,...,Frequent customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620

### 7, 8, 9. Ensure the notebook contains logical files, headings and comments, export it as a pickle file and send it for review.

#### Ensure your notebook contains logical titles, section headings, and descriptive code comments.
#### Export this new dataframe as a pickle file so you can continue to use it in the second part of this task.
#### Save your notebook so that you can send it to your tutor for review after completing part 2.

In [84]:
df_ords_prods_cust_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_cust_merged_4.9_P1.pkl'))